*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1{
  margin: 20px;
}

input{
  height: 25px;
}

button{
  margin: 10px 0 20px;
  padding: 5px 10px;
}

ul{
  text-align: center;
  width: 40%;
  background-image: url("../img/sfondo-postit.jpg");
  background-size: cover;
  background-position: top right;
  min-height: 70vh;
  box-shadow: 5px 5px 10px black;
  margin-bottom: 20px;
}

li{
  padding: 10px;
  margin: 10px 0;
  list-style: none;
  font-size: 30px;
  font-weight: 700;
}

.delete{
  font-weight: 700;
  color: red;
  display: inline-block;
  margin-left: 15px;
  transition: transform .3s;
}

/* .delete:hover{
  transform: scale(1.5);
  cursor: pointer;
} */

.not-scaled{
  transform: scale(1.0);
  transition: transform .3s;
}
.scaled{
  transform: scale(1.1);
  transition: transform .3s;
  cursor: pointer;
}

.effects-enter{
  transform: translateX(15px);
  opacity: 0;
}
.effects-enter-active{
  transition: all .4s;
}
.effects-enter-to{
  opacity: 1;
}

.effects-leave{
  text-decoration: line-through;
  opacity: 1;
}
.effects-leave-active{
  transition: all .6s;
}
.effects-leave-to{
  text-decoration: line-through;
  transform: translateX(100px);
  opacity: 0;
}
